.modal {
  display: flex;

  align-items: center;

  justify-content: center;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  background-color: rgba(0,0,0,0.7);

  .content {
    width: 45%;
    position:relative;
    background-color: var(--white);
    color: var(--black);
    padding: 50px 35px;
    border-radius: 10px;
    .header {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      .heading {
        margin-bottom: 25px;
      }
    }

    .body {
      display: flex;
      flex-direction: column;
      gap: 15px;

      label {
        font-weight: 600;
      }
      input[type="text"] {
        padding: 12px;
      }
    }
  }
}
